:host ::ng-deep .p-megamenu {
    height: 100%; /* occupy full width */
    text-align: left; /* align menu items to the left */
    border: none;
    background-color: rgb(0, 170, 0);
    color: white;
  }
  
