<!-- HTML for Desktop Aplication-->
<div *ngIf="isDesktop" class="desktop"  >
    <router-outlet>
    <div [ngStyle]="background" class="background">
        <label class="text">Намери своя нов дом днес</label>
        <p-cascadeSelect class="townLB"
        [options]="cities" 
        [(ngModel)]="selectedCity" 
        optionGroupLabel="Cname"
        optionLabel="name"
        [optionGroupChildren]="['townships', 'place']"
        placeholder="Град"
        (click)="getNeighberhood()"
        [style]="{ width: 'calc(40vw * 0.4)' }" />
        <p-dropdown 
        [disabled]="neighberhoodListVisible"
        class="neiberhoodLB"
        [options]="neighborhoods" 
        [(ngModel)]="selectedNeighborhood"
        [checkmark]="true"
        optionLabel="name" 
        placeholder="Квартал"
        [filter]="true" 
        [style]="{ width: 'calc(40vw * 0.4)' }" 
        />
        <p-inputNumber 
            class="priceFrom"
            [(ngModel)]="priceFrom" 
            inputId="locale-user" 
            [minFractionDigits]="2" 
            placeholder="Цена от"
            [style]="{ width: 'calc(40vw * 0.4)' }" />
            
        <p-inputNumber 
            class="priceTo"
            [(ngModel)]="priceTo" 
            inputId="locale-user" 
           [minFractionDigits]="2"
           placeholder="Цена до"
           [style]="{ width: 'calc(40vw * 0.4)' }"  />
        <p-button class="search-button"  (click)="filter()"/>
        <p-button  class="clearfilter-button"  (click)="clearFilters()"/>
    </div>
    <div class="exclusive">
        <p-dataView [value]="propertiesExclusive" >
            <ng-template pTemplate="list" let-propertiesExclusive >
                <div class="properties-container-exclusive">
                    <div *ngFor="let item of propertiesExclusive"  class="property-item-exclusive" (click)="goToPropertyInfo(item.propertyId)" >
                        <img class="picture-exclusive" alt="Card" src="https://k-konsult-server.online:80/K-Konsult/file/Get/images/property/{{item.propertyId}}/image1.png" (click)="goToPropertyInfo(item.propertyId)"  />
                        <div class="text-card-exclusive">
                            {{item.price}} € 
                        </div>
                        <div class="text-card-exclusive">
                            {{item.quadrature}} m²
                        </div>
                        <div class="text-location-exclusive" >
                            {{item.place.name}}    <div *ngIf="item.neighborhood"> {{item.neighborhood.name}} </div>
                        </div>
                        <div class="exclusivePicture"></div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>    
    <div class="property">
        <div class="lane-left"></div>
        <div class="lane-right"></div>
        <label [ngStyle]="text2"  [class]="text2" class="text2">{{pageText}}</label>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p-dataView [value]="propertiesFilter" [rows]="6" [paginator]="true"  [rowsPerPageOptions]="[  6,  25 , 50, 100]" >
            <ng-template pTemplate="list" let-propertiesFilter>
                <div class="properties-container">
                    <div *ngFor="let item of propertiesFilter" class="property-item" (click)="goToPropertyInfo(item.propertyId)" >
                        <img class="picture" alt="Card" src="https://k-konsult-server.online:80/K-Konsult/file/Get/images/property/{{item.propertyId}}/image1.png" (click)="goToPropertyInfo(item.propertyId)"  />
                        <div class="text-card">
                            {{item.price}} € 
                        </div>
                        <div class="text-card">
                           {{item.quadrature}} m²
                        </div>
                        <div class="text-location" >
                            {{item.place.name}}    <div *ngIf="item.neighborhood"> {{item.neighborhood.name}} </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
        <div class="lane"></div>
    </div>
</router-outlet>
</div>
<!-- HTML for Phone Aplication-->
<div *ngIf="isMobile" class="phone"  >
    <router-outlet>
    <div [ngStyle]="background"  class="background">
        <label class="text">Намери своя нов дом днес</label>
        <p-cascadeSelect class="townLB"
        [options]="citiesWithoutArea" 
        [(ngModel)]="selectedCity" 
        optionGroupLabel="Cname"
        optionLabel="name"
        [optionGroupChildren]="[ 'place']"
        placeholder="Град"
        (click)="getNeighberhood()"
        [style]="{ width: 'calc(110vw * 0.4)' }" />
        <p-dropdown 
        class="neiberhoodLB"
        [disabled]="neighberhoodListVisible"
        [options]="neighborhoods" 
        [(ngModel)]="selectedNeighborhood"
        [checkmark]="true"
        optionLabel="name" 
        placeholder="Квартал"
        [filter]="true" 
        [style]="{ width: 'calc(110vw * 0.4)' }" 
        />
        <p-inputNumber 
            class="priceFrom"
            [(ngModel)]="priceFrom" 
            inputId="locale-user" 
            [minFractionDigits]="2" 
            placeholder="Цена от"
            [style]="{ width: 'calc(20vw * 0.2)' }"   />
            
        <p-inputNumber 
            class="priceTo"
            [(ngModel)]="priceTo" 
            inputId="locale-user" 
           [minFractionDigits]="2"
           placeholder="Цена до"
           [style]="{ width: 'calc(130vw * 0.4)' }"            />
        <p-button class="search-button"  (click)="filter()"/>
        <p-button  class="clearfilter-button"  (click)="clearFilters()"/>
    </div>
    <div class="exclusive">
        <p-dataView [value]="propertiesExclusive" >
            <ng-template pTemplate="list" let-propertiesExclusive>
                <div class="properties-container-exclusive">
                    <div *ngFor="let item of propertiesExclusive"  class="property-item-exclusive" (click)="goToPropertyInfo(item.propertyId)" >
                        <img class="picture-exclusive" alt="Card" src="https://k-konsult-server.online:80/K-Konsult/file/Get/images/property/{{item.propertyId}}/image1.png" (click)="goToPropertyInfo(item.propertyId)"  />
                        <div class="text-card-exclusive">
                            {{item.price}} € 
                        </div>
                        <div class="text-card-exclusive">
                            {{item.quadrature}} m²
                        </div>
                        <div class="text-location-exclusive" >
                            {{item.place.name}}    <div *ngIf="item.neighborhood"> {{item.neighborhood.name}} </div>
                        </div>
                        <div class="exclusivePicture"></div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>    
    <div class="property">
        <div class="lane-left"></div>
        <div class="lane-right"></div>
        <label [ngStyle]="text2"  [class]="text2" class="text2">{{pageText}}</label>
        <div class="place"></div>
        <p-dataView [value]="propertiesFilter" [rows]="6" [paginator]="true"  [rowsPerPageOptions]="[  6,  25 , 50, 100]" >
            <ng-template pTemplate="list" let-propertiesFilter>
                <div class="properties-container">
                    <div *ngFor="let item of propertiesFilter" class="property-item" (click)="goToPropertyInfo(item.propertyId)" >
                        <img class="picture" alt="Card" src="https://k-konsult-server.online:80/K-Konsult/file/Get/images/property/{{item.propertyId}}/image1.png" (click)="goToPropertyInfo(item.propertyId)"  />
                        <div class="text-card">
                            {{item.price}} € 
                        </div>
                        <div class="text-card">
                            {{item.quadrature}} m²
                        </div>
                        <div class="text-location" >
                            {{item.place.name}}    <div *ngIf="item.neighborhood"> {{item.neighborhood.name}} </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
        <div class="lane"></div>
    </div>
</router-outlet>
</div>
