
<div *ngIf="isDesktop" class="desktop"  >
   


    <p-toast></p-toast>
    <router-outlet>
<div class="galery">



    <p-galleria [value]="images"
     [showItemNavigatorsOnHover]="true" 
     [showItemNavigators]="true" 
     [circular]="true"
     [showItemNavigators]="true" 
     [showThumbnails]="false" 
     [showIndicators]="true" 
     [showIndicatorsOnItem]="true" 
      > 
         <ng-template  pTemplate="item" let-item > 
             <img 
                src="https://k-konsult-server.online:80/K-Konsult/file/Get/images/property/{{property.propertyId}}/{{item}}"  
                style=" width:calc(199vw * 0.5); height: auto; " 
                (click)="openGalleryModal()"
             /> 
         </ng-template> 
         <ng-template pTemplate="thumbnail" let-item width="20px" > 
             <div class="grid grid-nogutter justify-content-center"> 
                <img [src]="item.thumbnailImageSrc" style="display: block;" />
             </div> 
         </ng-template> 
   
     </p-galleria> 
 </div>
 <p-dialog header="Галерия" [(visible)]="displayModal" [modal]="true" [responsive]="true" maximizable="true">
     <p-galleria [numVisible]="1" [value]="images" [showItemNavigatorsOnHover]="true"
       [showItemNavigators]="true" [circular]="true">
       <ng-template pTemplate="item" let-item>
         <img  src="https://k-konsult-server.online:80/K-Konsult/file/Get/images/property/{{property.propertyId}}/{{item}}"  

           style="    width:calc(199vw * 0.4); height: auto" />
       </ng-template>
     </p-galleria>
    </p-dialog>
    <div class="body">
    <div class="headerProperty header">
        {{property.nameProperty}}
    </div>
    <div class="textProperty text">
        Място:   {{property.place.name}}
    </div>
    <div class="textProperty text1">
        квартал:  
        <div  *ngIf="property.neighborhood"> {{property.neighborhood.name}} </div>
    </div>
    <div class="textProperty text">
        Тип: {{property.type}}
    </div>
    <div class="textProperty text2">
        Цена:  €{{property.price}} EUR 
    </div>
    <div class="textProperty text3">
        Цена на квадратен метър: €{{property.pricePerQuadrature}} EUR
    </div>
    <div class="textProperty text4">
        Площ:  {{property.quadrature}} m²
    </div>
    <div class="textProperty text5">
        Тип строителство: {{property.construction}} 
    </div>
    <div class="textProperty text6">
        Строителство: {{property.typeOfConstruction}} 
     </div>
     <div class="textProperty text7">
        Етап на строеж: {{ property.akt}}
     </div>
    <div class="textProperty text8">
        Година на строителство: {{property.yearOfConstruction}}
    </div>
    <div class="textProperty text9">
        Етаж: {{property.floar}} 
    </div>
    <div class="textProperty text9">
        Брой етажи: {{property.floars}}
    </div>
    <p-scrollPanel [style]="{ width: 'calc(180vw * 0.5)', height: '500px' }" class="text10">
        <div class="textProperty ">
            Описание:
        </div>
        <textarea class="description"
        disabled="true"
        rows="30"
        cols="60" 
         
        [(ngModel)]="property.description">
        </textarea>
    </p-scrollPanel>
    
    <p-dialog header="Направи запитване"   class="dialog"
        [(visible)]="dialogMakeInquiry" 
        position="center" >
        <p>Име</p>
        <input type="text" pInputText [(ngModel)]="firstName" />
        <p>Фамилия</p>
        <input type="text" pInputText [(ngModel)]="lastName" />
        <p>Имейл</p>
        <input type="text" pInputText [(ngModel)]="email" />
        <p>Телефон</p>
        <input type="text" pInputText [(ngModel)]="phone" />
        <p>Коментар</p>
        <textarea class="float-lable"
                rows="5"
                cols="30" 
                pInputTextarea 
                id="float-input" 
                [(ngModel)]="comment">           
            </textarea>
        <p-button  label="Направи запитване" (click)="createInquery()"></p-button>
    </p-dialog>
    <img  class="img-buttomInqiyre" src="/assets/images/buttonInqiyre.png" (click)="openDialogInquery()">
    </div>
    <div class="line2"></div> </router-outlet>
</div>



<!-- HTML for Phone Aplication-->
<div *ngIf="isMobile" class="phone"  >
    
    <p-toast></p-toast>
    <router-outlet>
    <div class="galery">
        <p-galleria [value]="images"
         [showItemNavigatorsOnHover]="true" 
         [showItemNavigators]="true" 
         [circular]="true"
         [showItemNavigators]="true" 
         [showThumbnails]="false" 
         [showIndicators]="true" 
         [showIndicatorsOnItem]="true" 
          > 
             <ng-template  pTemplate="item" let-item > 
                 <img 
                    src="https://k-konsult-server.online:80/K-Konsult/file/Get/images/property/{{property.propertyId}}/{{item}}"  
                     style=" width: calc(199vw * 0.5); height: auto; " 
                     (click)="openGalleryModal()"
                 /> 
             </ng-template> 
             <ng-template pTemplate="thumbnail" let-item width="20px" > 
                 <div class="grid grid-nogutter justify-content-center"> 
                    <img [src]="item.thumbnailImageSrc" style="display: block;" />
                 </div> 
             </ng-template> 
       
         </p-galleria> 
     </div>
     <p-dialog header="Галерия" [(visible)]="displayModal" [modal]="true" [responsive]="true" maximizable="true">
         <p-galleria [numVisible]="1" [value]="images" [showItemNavigatorsOnHover]="true"
           [showItemNavigators]="true" [circular]="true">
           <ng-template pTemplate="item" let-item>
             <img  src="https://k-konsult-server.online:80/K-Konsult/file/Get/images/property/{{property.propertyId}}/{{item}}"  
                  style="    width: calc(199vw * 0.4); height: auto" />
           </ng-template>
         </p-galleria>
        </p-dialog>
        <div class="body">
        <div class="headerProperty header">
            {{property.nameProperty}}
        </div>
        <div class="textProperty text">
            Място:   {{property.place.name}}
        </div>
        <div class="textProperty text1" >
            квартал:  <div  *ngIf="property.neighborhood"> {{property.neighborhood.name}} </div>
        </div>
        <div class="textProperty text">
            Тип: {{property.type}}
        </div>
        <div class="textProperty text2">
            Цена:  €{{property.price}} EUR 
        </div>
        <div class="textProperty text3">
            Цена на квадратен метър: €{{property.pricePerQuadrature}} EUR
        </div>
        <div class="textProperty text4">
            Площ:  {{property.quadrature}} m²
        </div>
        <div class="textProperty text5">
           Тип строителство: {{property.construction}} 
        </div>
        <div class="textProperty text6">
            Строителство: {{property.typeOfConstruction}} 
         </div>
         <div class="textProperty text7">
            Етап на строеж: {{ property.akt}}
         </div>
        <div class="textProperty text8">
            Година на строителство: {{property.yearOfConstruction}}
        </div>
        <div class="textProperty text9">
            Етаж: {{property.floar}} Брой етажи: {{property.floars}}
        </div>
        <p-scrollPanel [style]="{ width: 'calc(190vw * 0.5)', height: '450px' }" class="text10">
            <div class="textProperty ">
                Описание:
            </div>
        <textarea class="description"
        disabled="true"
        rows="40"
        cols="45" 
         
        [(ngModel)]="property.description">
        </textarea>
    
        </p-scrollPanel>
        
        <p-dialog header="Направи запитване" class="dialog"
            [(visible)]="dialogMakeInquiry" 
            position="center" >
            <p>Име</p>
            <input type="text" pInputText [(ngModel)]="firstName" />
            <p>Фамилия</p>
            <input type="text" pInputText [(ngModel)]="lastName" />
            <p>Имейл</p>
            <input type="text" pInputText [(ngModel)]="email" />
            <p>Телефон</p>
            <input type="text" pInputText [(ngModel)]="phone" />
            <p>Коментар</p>
            <textarea class="float-lable"
                    rows="5"
                    cols="30" 
                    pInputTextarea 
                    id="float-input" 
                    [(ngModel)]="comment">           
                </textarea>
            <p-button  label="Направи запитване" (click)="createInquery()"></p-button>
        </p-dialog>
        <img  class="img-buttomInqiyre" src="/assets/images/buttonInqiyre.png" (click)="openDialogInquery()">
        </div>
        <div class="line2"></div>
    </router-outlet>
    </div>