<!-- HTML for Desktop Aplication-->
<div *ngIf="isDesktop" class="desktop"  >
    <div class="lane-left"></div>
    <div class="lane-right"></div>
    <label class="text">Статии</label>  
<p-toast></p-toast>
<p-tabView>
        <p-tabPanel header="Създай статия">
        <div class="addArticle">
        <p-button class="buttonAddImage" (click)="addPicture()" />
        <p-dialog header="Добави снимка" 
            [(visible)]="dialogAddImage" 
            position="center" >

            <p-fileUpload 
            name="demo[]" 
            url="http://192.168.182.130:8080/K-Konsult/file/upload/{{article_title}}" 
            (onUpload)="onUpload($event)" 
            [multiple]="true" 
            accept="image/*" 
            maxFileSize="1000000">
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">
                            {{ file.name }} - {{ file.size }} bytes
                        </li>
                    </ul>
                </ng-template>
            </p-fileUpload>

        </p-dialog>
        <div class="textbody nameArtcletb">Име на статия:</div>
        <input class="nameArtcleBox" type="text " pInputText [(ngModel)]="article_title" />
        <div class="textbody descriptionArticletb">Описание:</div>
        <textarea class="descriptionArticleTextArea"
            rows="5"
            cols="30" 
            pInputTextarea 
            [(ngModel)]="article_content">
        </textarea>
        
        <p-button class="buttonAddArticle" (click)="createArticle()"/>
    </div>
    </p-tabPanel>
    <p-tabPanel header="Промени статия" (click)="getArticles()">
        <div class="updateArticlePanel">
        <div class="textbody property">Статия:</div>
        <p-listbox class="propertylist"
            [options]="articlesList" 
            [(ngModel)]="selectedArticles"
            optionLabel="name" 
            [filter]="true" 
            [style]="{ width: 'calc( 40.0vw * 0.3)' }" 
            [listStyle]="{'height': 'calc( 45.0vw * 0.3)' , 'font-size': 'calc( 4.0vw * 0.3)'}" 
            (onChange)="getArticleContent()"/>
        
        <p-button class="buttonAddNewPicture" (click)="addNewPicture()" />
            
        <p-dialog header="Добави снимка" 
            [(visible)]="dialogAddNewImage" 
            position="center" >

            <p-fileUpload 
            name="demo[]" 
            url="http://192.168.182.130:8080/K-Konsult/file/upload/{{article.title}}" 
            (onUpload)="onUpload($event)" 
            [multiple]="true" 
            accept="image/*" 
            maxFileSize="1000000">
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">
                            {{ file.name }} - {{ file.size }} bytes
                        </li>
                    </ul>
                </ng-template>
            </p-fileUpload>

        </p-dialog>
    <div class="galery">
       <p-galleria [numVisible]="2" [value]="images"
            [showItemNavigatorsOnHover]="true" 
            [showItemNavigators]="true" 
            [circular]="true"
             > 
                <ng-template  pTemplate="item" let-item > 
                    <img 
                        [src]="item.previewImageSrc"  
                        [alt]="item.alt"  
                        [title]="item.title"  
                        style="width: calc(66vw * 0.5); height: auto;  border-radius: calc(2.0vw * 0.5);" 
                        (click)="openGalleryModal()"
                    /> 
                </ng-template> 
                <ng-template pTemplate="thumbnail" let-item width="20px"> 
                    <div class="grid grid-nogutter justify-content-center "> 
                        <img 
                            [src]="item.thumbnailImageSrc"  
                            [alt]="item.alt"  
                            [title]="item.title"  
                            width=10% /> 
                    </div> 
                </ng-template> 
          
            </p-galleria> 
    </div>
    <p-dialog header="Галерия" [(visible)]="displayModal" [modal]="true" [responsive]="true" maximizable="true">
        <p-galleria [numVisible]="1" [value]="images" [showItemNavigatorsOnHover]="true"
          [showItemNavigators]="true" [circular]="true">
          <ng-template pTemplate="item" let-item>
            <img [src]="item.previewImageSrc" [alt]="item.alt" [title]="item.title"
              style="width: auto; height: 600px;" />
          </ng-template>
        </p-galleria>
      </p-dialog>
    
    <p-button class="buttonDeletePicture" (click)="deleteImageDialog()" />
    <p-dialog header="Изтрий снимка" 
    [(visible)]="deleteImageDialogVisivle" 
    position="center" >
        
        <p-listbox 
        [options]="imagesList" 
        [(ngModel)]="selectImage"
        optionLabel="file" 
        [filter]="true" 
        [style]="{ width: '15rem' }" 
        [listStyle]="{'max-height': '220px'}" />
        
        <p-button label="Изтрии снимка" (click)="deleteImage()" />
        </p-dialog>
        <div class="textbody descriptionArticle">Описание на статията:</div>

        <textarea  class="descriptionArticleTextAreaUpdate"
        rows="5"
        cols="30" 
        pInputTextarea 
        [(ngModel)]="article.content">
        </textarea>
        
        <p-button class="buttonUpdateArticle" (click)="updateArticle()"/>
    </div>
    </p-tabPanel>
    <p-tabPanel header="Изтрий статия" (click)="getArticles()">
        <p>Имот</p>
        <p-listbox 
            [options]="articlesList" 
            [(ngModel)]="selectedArticles"
            optionLabel="name" 
            [filter]="true" 
            [style]="{ width: '15rem' }" 
            [listStyle]="{'max-height': '220px'}" 
            (onChange)="getArticleContent()"/>
        
        <label> {{article.content}}</label>
        
        <p-button label="Изтрий статия!" (click)="deleteArticle()"/>
    </p-tabPanel>
</p-tabView>
</div>


