.phone{
    overflow-x: hidden;
    
    height:  auto; // височина (смята ширината на екрана * 0,4)
    .addArticle{
        position: relative;
        height: calc(174.5vw * 0.5);
        max-width: calc(200vw * 0.5);
    }
    .lane-left{
        background-image: url('/assets/images/Home/Line.png');
        background-size: cover;
        background-position: center;
        position: relative;
        top: calc(8vw * 0.5);
        left: calc(1vw * -0.5);;
        height:  calc(1.5vw * 0.4); // височина (смята ширината на екрана * 0,4)
        width:  calc(80.5vw * 0.5); //щирана (смята ширината на екрана * 0,5)
    }

    .lane-right{
        background-image: url('/assets/images/Home/Line.png');
        background-size: cover;
        background-position: center;
        position: relative;
        top: calc(7vw * 0.5);
        left:  calc(117vw * 0.5);;
        height:  calc(1.5vw * 0.4); // височина (смята ширината на екрана * 0,4)
        width:  calc(80.5vw * 0.5); //щирана (смята ширината на екрана * 0,5)
    }
    .text{
        color: black;
        font-size: calc( 7.0vw * 0.6);
        text-shadow: 4px 4px 6px rgba(1, 1, 1, 0.5); //сянка 0.5 индекс
        position: relative;
        top: calc(1.5vw * 0.4);
        left: calc(106.5vw * 0.4);
    }
    .galery {
        width:calc(250vw * 0.4);
        background-color: transparent;
        //max-width: 100vw; // Ограничете максималната ширина на видеото до ширината на прозореца
        height: auto;
        transform: translate(0px, 10.2px);
    }
    ::ng-deep .galery .p-galleria-thumbnail-items {
            display: flex;
            align-items: center;
            transition: transform 0.5s;    }


::ng-deep .p-tabview .p-tabview-nav {
    font-size: 16px; /* Change font size */
    border: none;
}



.addArticle{
    height:  calc(260vw * 0.5);;
}


.textbody{
    color: black;
    font-size: calc( 6.0vw * 0.7);
    text-shadow: 4px 4px 6px rgba(1, 1, 1, 0.5); //сянка 0.5 индекс
}

.buttonAddImage{
    background-image: url('/assets/images/addPicturePhone.png');
    background-size: cover;
    background-position: center;
    height:  calc(20.5vw * 0.4); // височина (смята ширината на екрана * 0,4)
    width:  calc(120vw * 0.5); //щирана (смята ширината на екрана * 0,5)
    position: absolute;
    top: calc(0vw * 0.5);
    left: calc(0vw * 0.5);
}
.nameArtcletb{
    position: absolute;
    top: calc(30vw * 0.5);
    left: calc(5vw * 0.5); 
}

.descriptionArticletb{
    position: absolute;
    top: calc(50vw * 0.5);
    left: calc(5vw * 0.5); 
}

.nameArtcleBox{
    position: absolute;
    top: calc(29vw * 0.5);
    left: calc(85vw * 0.5); 
    width:  calc(45vw * 0.5);
    font-size: calc( 6.0vw * 0.5);
    text-shadow: 4px 4px 6px rgba(1, 1, 1, 0.5); //сянка 0.5 индекс
    color: #000;
    border-color: #000;
    width:  calc( 70.0vw * 0.6);

}


.descriptionArticleTextArea{
    position: absolute;
    top: calc(70vw * 0.5);
    left: calc(6vw * 0.5); 
    width:  calc(162vw * 0.5);
    font-size: calc( 6.0vw * 0.5);
    text-shadow: 4px 4px 6px rgba(1, 1, 1, 0.5); //сянка 0.5 индекс
    color: #000;
    border-color: #000;
    height: calc(150vw * 0.5);

}

.buttonAddArticle{
    background-image: url('/assets/images/addArtice.png');
    background-size: cover;
    background-position: center;
    height:  calc(40.5vw * 0.4); // височина (смята ширината на екрана * 0,4)
    width:  calc(170vw * 0.5); //щирана (смята ширината на екрана * 0,5)
    position: absolute;
    top: calc(230vw * 0.5);
    left: calc(2vw * 0.5);
}

.updateArticlePanel{
    position: relative;
    height:  calc(440vw * 0.5);
}

.galery{
    background-color: rgb(253, 253, 253);
    width: calc(153vw * 0.5);
    position: relative;
   
    top: calc(5.0vw * 0.5);
    left: calc(10vw * 0.5);
}

.pictureTb{
    position: absolute;
    top: calc(0.0vw * 0.5);
    left: calc(85vw * 0.5);
}

.property{
    position: relative;
    top: calc(5vw * 0.5);
    left: calc(5vw * 0.5); 
}

.propertylist{
    position: relative;
    top: calc(0vw * 0.5);
    left: calc(65vw * 0.5); 
}

.descriptionArticle{
    position: relative;
    top: calc(25vw * 0.5);
    left: calc(5vw * 0.5); 
}

.descriptionArticleTextAreaUpdate{
    position: relative;
    top: calc(45vw * 0.5);
    left: calc(6vw * 0.5); 
    width:  calc(162vw * 0.5);
    font-size: calc( 6.0vw * 0.5);
    text-shadow: 4px 4px 6px rgba(1, 1, 1, 0.5); //сянка 0.5 индекс
    color: #000;
    border-color: #000;
    height: calc(150vw * 0.5);

}


.buttonUpdateArticle{
    position: relative;
    top: calc(50vw * 0.5);
    left: calc(10vw * 0.5);
}

.buttonAddNewPicture{
    position: relative;
    top: calc(5vw * 0.5);
    left: calc(13vw * 0.5);
    z-index: 1;
}

.buttonDeletePicture{
    position: relative;
    top: calc(10vw * 0.5);
    left: calc(13vw * 0.5);
    z-index: 1;
}

.img_update2{
    width: calc(130.5vw * 0.5); 
    height: calc(20.5vw * 0.5);
}

.deleteArticle{
    position: relative;
    height: calc(270.5vw * 0.5);
    max-width: calc(200vw * 0.5);
}

.lbArticles{
    position: relative;
    top: calc(5vw * 0.5);
    left: calc(0vw * 0.5);
}

.articleContent{
    position: relative;
    top: calc(10vw * 0.5);
    left: calc(0vw * 0.5);
}

.articleContent{
    font-size: calc( 6.0vw * 0.6);
    text-shadow: 4px 4px 6px rgba(1, 1, 1, 0.5); //сянка 0.5 индекс
}

.buttonDelete{
    position: relative;
    top: calc(20vw * 0.5);
    left: calc(10vw * 0.5);
}
.file{
    ::ng-deep .p-button {
    display: flex;
    object-fit: contain;
    background-color: blue;
    border: none;
  }
 }
}
