.phone{
    .background{
        background-image: url('/assets/images/log_background.png');
        background-size: cover;
        background-position: center;
        position: relative;
        height:  calc(440vw * 0.4); // височина (смята ширината на екрана * 0,4)
        width:  calc(200vw * 0.5); //щирана (смята ширината на екрана * 0,5)
    }

    .grey_area{
        background-image: url('/assets/images/grey-area1.png');
        background-size: cover;
        background-position: center;
        position: relative;
        top: calc(33vw * 0.4);;
        left: calc(23.5vw * 0.4);
        height:  calc(390vw * 0.4); // височина (смята ширината на екрана * 0,4)
        width:  calc(163vw * 0.5); //щирана (смята ширината на екрана * 0,5)
        border-radius: calc(20vw * 0.4);;
    }
   .logo_image{
        background-image: url('/assets/images/log_big.png');
        background-size: cover;
        background-position: center;
        position: relative;
        top: calc(16vw * 0.4);;
        left: calc(14.5vw * 0.4);
        height:  calc(140vw * 0.4); // височина (смята ширината на екрана * 0,4)
        width:  calc(143vw * 0.5); //щирана (смята ширината на екрана * 0,5)
   }

   .text1{
        color: white;
        font-size: calc( 25.0vw * 0.4);
        text-shadow: 4px 4px 6px rgba(1, 1, 1, 0.5); //сянка 0.5 индекс
        position: relative;
        top: calc(25vw * 0.4);
        left: calc(40.5vw * 0.4);
   }

   .usernameTB{
    color: black;
    font-size: calc( 13.0vw * 0.3);
    text-shadow: 4px 4px 6px rgba(1, 1, 1, 0.5); //сянка 0.5 индекс
    position: relative;
    top: calc(35vw * 0.4);
    left: calc(13.5vw * 0.4);
    width: calc(175vw * 0.4);
    height: calc(28vw * 0.4);
   }


   .text2{
    color: white;
    font-size: calc( 25.0vw * 0.4);
    text-shadow: 4px 4px 6px rgba(1, 1, 1, 0.5); //сянка 0.5 индекс
    position: relative;
    top: calc(45.5vw * 0.4);
    left: calc(43.5vw * 0.4);
}

.passwordTB{
    color: black;
    font-size: calc( 10.0vw * 0.4);
    text-shadow: 4px 4px 6px rgba(1, 1, 1, 0.5); //сянка 0.5 индекс
    position: relative;
    top: calc(60vw * 0.4);
    left: calc(13.5vw * 0.4);
    
   }


   .log-button{
    background-image: url('/assets/images/signInButton.png');
    background-size: cover;
    background-position: center;
    height:  calc(50.5vw * 0.4); // височина (смята ширината на екрана * 0,4)
    width:  calc(110vw * 0.5); //щирана (смята ширината на екрана * 0,5)
    position: absolute;
    top: calc(263vw * 0.5);
    left: calc(28vw * 0.5);
}
}