<!-- HTML for Desktop Aplication-->
<div *ngIf="isDesktop" class="desktop"  >
    <div class="background">
    <div class="text"></div>
    <div class="textlabel">
        <label class="text2"> К – КОНСУЛТ е едно от най-сигурните имена, когато става въпрос за недвижими имоти.
        Това, с което се занимаваме вече 10 години е да преведем безпроблемно нашите клиенти по пътя към мечтания дом. 
        В лицето на К – КОНСУЛТ откривате приятел, който ще ви съдейства от първия разговор до нотариалното изповядване! 
        Ние знаем, че всеки човек е различен, по характер и предпочитания. Нашият основен фокус е отговорността към клиента 
        и неговата удовлетвореност, като едновременно с това проявяваме грижа и професионализъм при закупуването на мечтания дом! </label>
    </div>
    </div>
</div>
<!-- HTML for Phone Aplication-->
<div *ngIf="isMobile" class="phone"  >
    <div class="background">
        <div class="text"></div>
        <div class="text2"></div>
    </div>
</div>