<!-- HTML for Desktop Aplication-->
<div *ngIf="isDesktop" class="desktop"  >

    <div class="background">
    <div class="text"></div>
    <div class="textlabel">
        <label class="text2"> К – КОНСУЛТ е едно от най-сигурните имена, когато става въпрос за недвижими имоти.
        Това, с което се занимаваме вече 10 години е да преведем безпроблемно нашите клиенти по пътя към мечтания дом. 
        В лицето на К – КОНСУЛТ откривате приятел, който ще ви съдейства от първия разговор до нотариалното изповядване! 
        Ние знаем, че всеки човек е различен, по характер и предпочитания. Нашият основен фокус е отговорността към клиента 
        и неговата удовлетвореност, като едновременно с това проявяваме грижа и професионализъм при закупуването на мечтания дом! </label>
    </div>
    </div>
    <div class="lineOringe"></div>
    <div class="background2">
        <div class="lineGrey"></div>
        <label class="text3">Нашите услуги</label>
        <div class="lineGrey1"></div>
        <div class="circlePic1"></div>
        <div class="circlePic2"></div>
        <div class="text4">Ние от К – КОНСУЛТ защитаваме вашите интереси по пътя на закупуване и/или продажба на жилище, 
                    водим преговори, изготвяме и предоставяме необходимите документи за нотариално изповядване и се справяме с индивидуални имотни казуси .</div>
    <div class="background3">
        <div class="text5">К – КОНСУЛТ предлага безплатна реклама и маркетинг на вашия имот.</div>
    </div>
    <div class="pic30"></div>
    <div class="pic44"></div>
    <div class="pic43"></div>
    <div class="pic31"></div>
    <div class="pic32"></div>
    <div class="pic42"></div>
    <div class="pic29"> </div>
    <div class="background4">
        <div class="text6">НИЕ </div>
        <div class="text7">СМЕ КЛЮЧЪТ</div>
        <div class="text8">ЗА МЕЧТАНИЯ ДОМ!</div>
    </div>
</div>
</div>
<!-- HTML for Phone Aplication-->
<div *ngIf="isMobile" class="phone"  >
    <div class="background">
        <div class="text"></div>
        <div class="text2"></div>
    </div>
    <div class="lineOringe"></div>
    <div class="background2">
        <div class="lineGrey"></div>
        <label class="text3">Нашите услуги</label>
        <div class="lineGrey1"></div>
        <div class="circlePic1"></div>
        <div class="circlePic2"></div>
        <div class="text4">Ние от К – КОНСУЛТ защитаваме вашите интереси по пътя на закупуване и/или продажба на жилище, 
                    водим преговори, изготвяме и предоставяме необходимите документи за нотариално изповядване и се справяме с индивидуални имотни казуси .</div>
    <div class="background3">
        <div class="text5">К – КОНСУЛТ предлага безплатна реклама и маркетинг на вашия имот.</div>
    </div>
    <div class="pic30"></div>
    <div class="pic44"></div>
    <div class="pic43"></div>
    <div class="pic31"></div>
    <div class="pic32"></div>
    <div class="pic42"></div>
    <div class="pic29"> </div>
    <div class="background4">
        <div class="text6">НИЕ </div>
        <div class="text7">СМЕ КЛЮЧЪТ</div>
        <div class="text8">ЗА МЕЧТАНИЯ ДОМ!</div>
    </div>
</div>
</div>
