.desktop {

    @keyframes appear-from-down {
        0% {
            opacity: 0;
            transform: translateY(80px);
          }
          100% {
            opacity: 1;
            transform: translatey(0);
          }
    }
  

    .text3 , .circlePic1 , .circlePic2 , .text4 , .text5 , .pic30, .pic44, .pic43, .pic31, .pic32 , .pic42 , .pic29 , .text6 , .text7 , .text8 {
        opacity: 1;
        transform: translateY(20px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}    


    .active  {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
        animation: appear-from-down 1.5s forwards;
      }    
    .background {
        background-image: url('/assets/images/forUsImage.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed; // Добавя паралакс ефект
        position: relative;
        height: calc(190vw * 0.4);
        width: calc(200vw * 0.5);
    }

    .text {
        background-image: url('/assets/images/text.png');
        background-size: cover;
        background-position: center;
        position: relative;
        top: calc(5vw * 0.4);
        left: calc(50vw * 0.4);
        height: calc(60vw * 0.4);
        width: calc(93.5vw * 0.5);
    }

    .text2 {
        color: white;
        font-size: calc(4.0vw * 0.4);
        text-shadow: 4px 4px 6px rgba(1, 1, 1, 4.5);
        position: relative;
        top: calc(10vw * 0.4);
        left: calc(25.5vw * 0.4);
    }

    .text5header {
        color: white;
        font-size: calc(4.0vw * 0.4);
        text-shadow: 4px 4px 6px rgba(1, 1, 1, 4.5);
        position: relative;
        top: calc(20vw * 0.4);
        left: calc(25.5vw * 0.4);
    }

    .textlabel {
        width: calc(87vw * 0.4);
    }

    .textlabel1 {
        width: calc(93vw * 0.4);
    }
    .lineOringe {
        background-image: url('/assets/images/Home/Line.png');
        background-size: cover;
        background-position: center;
        position: relative;
        height: calc(0.5vw * 0.4);
        width: calc(200vw * 0.5);
    }

    .background2 {
        background-image: url('/assets/images/backgroundForUs.png');
        background-size: cover;
        background-position: center;
        position: relative;
        height: calc(490vw * 0.4);
        width: calc(200vw * 0.5);
    }

    .lineGrey {
        background-image: url('/assets/images/greyLine.png');
        background-size: cover;
        background-position: center;
        position: relative;
        top: calc(11vw * 0.5);
        left: calc(1.0vw * -0.5);
        height: calc(0.2vw * 0.4);
        width: calc(35.5vw * 0.5);
    }

    .ourService {
        background-image: url('/assets/images/OurServiceImage.png');
        background-size: cover;
        background-position: center;
        position: relative;
        top: calc(0.5vw * 0.4);
        left: calc(44.5vw * 0.4);
        height: calc(33.5vw * 0.4);
        width: calc(77.5vw * 0.5);
    }

    .lineGrey1 {
        background-image: url('/assets/images/greyLine.png');
        background-size: cover;
        background-position: center;
        position: relative;
        top: calc(15.5vw * -0.5);
        left: calc(118.0vw * 0.5);
        height: calc(0.3vw * 0.4);
        width: calc(80.5vw * 0.5);
    }

    .circlePic1 {
        background-image: url('/assets/images/circlePic1.png');
        background-size: cover;
        background-position: center;
        position: relative;
        top: calc(5.3vw * 0.5);
        left: calc(45.0vw * 0.5);
        height: calc(85.5vw * 0.4);
        width: calc(65.5vw * 0.5);
        z-index: 1;
    }

    .circlePic2 {
        background-image: url('/assets/images/circlePic2.png');
        background-size: cover;
        background-position: center;
        position: relative;
        top: calc(20.3vw * -0.5);
        left: calc(19.0vw * 0.5);;
        height:  calc(75.5vw * 0.4); // височина (смята ширината на екрана * 0,4)
        width:  calc(55.5vw * 0.5); //щирана (смята ширината на екрана * 0,5)
        z-index: 1;

    }

    .text4{
        color: white;
        font-size: calc( 4.0vw * 0.4);
        text-shadow: 4px 4px 6px rgba(1, 1, 1, 4.5); //сянка 0.5 индекс
        position: absolute;
        top: calc(65.5vw * 0.4);
        left: calc(144.5vw * 0.4);
        width: calc(94.5vw * 0.4);
   }

   .background3{
    background-image: url('/assets/images/backgroundForUs1.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; // Добавя паралакс ефект
    position: relative;
    top: calc(35vw * -0.8);
    left: -1.9px;
    height:  calc(135vw * 0.4); // височина (смята ширината на екрана * 0,4)
    width:  calc(200vw * 0.5); //щирана (смята ширината на екрана * 0,5)
    //z-index: -1;
    }

    .text5{
        color: white;
        font-size: calc( 4.0vw * 0.4);
        text-shadow: 4px 4px 6px rgba(1, 1, 1, 4.5); //сянка 0.5 индекс
        position: absolute;
        top: calc(5.5vw * 0.4);
        left: calc(100.5vw * 0.4);
        width: calc(104.5vw * 0.4);
   }
   .pic30{
    background-image: url('/assets/images/pic30.png');
    background-size: cover;
    background-position: center;
    position: relative;
    top: calc(138vw * -0.4);
    left: calc(30vw * 0.4);
    height:  calc(80vw * 0.4); // височина (смята ширината на екрана * 0,4)
    width:  calc(53.5vw * 0.5); //щирана (смята ширината на екрана * 0,5)
    z-index: 1;
   }
   .pic44{
    background-image: url('/assets/images/pic44.png');
    background-size: cover;
    background-position: center;
    position: relative;
    top: calc(245vw * -0.4);
    left: calc(92vw * 0.4);
    height:  calc(80vw * 0.4); // височина (смята ширината на екрана * 0,4)
    width:  calc(53.5vw * 0.5); //щирана (смята ширината на екрана * 0,5)
    z-index: 1;
   }

   .pic43{
    background-image: url('/assets/images/pic43.png');
    background-size: cover;
    background-position: center;
    position: relative;
    top: calc(220vw * -0.4);
    left: calc(33vw * 0.4);
    height:  calc(81.5vw * 0.4); // височина (смята ширината на екрана * 0,4)
    width:  calc(50vw * 0.5); //щирана (смята ширината на екрана * 0,5)
    z-index: 1;
   }

   .pic31{
    background-image: url('/assets/images/pic31.png');
    background-size: cover;
    background-position: center;
    position: relative;
    top: calc(335vw * -0.4);
    left: calc(92.5vw * 0.4);
    height:  calc(90vw * 0.4); // височина (смята ширината на екрана * 0,4)
    width:  calc(54vw * 0.5); //щирана (смята ширината на екрана * 0,5)
    z-index: 1;
   }
   .pic32{
    background-image: url('/assets/images/pic32.png');
    background-size: cover;
    background-position: center;
    position: relative;
    top: calc(435vw * -0.4);
    left: calc(154.5vw * 0.4);
    height:  calc(90vw * 0.4); // височина (смята ширината на екрана * 0,4)
    width:  calc(54vw * 0.5); //щирана (смята ширината на екрана * 0,5)
    z-index: 1;
   }
   .pic42{
    background-image: url('/assets/images/pic42.png');
    background-size: cover;
    background-position: center;
    position: relative;
    top: calc(425vw * -0.4);
    left: calc(96.8vw * 0.4);
    height:  calc(91.5vw * 0.4); // височина (смята ширината на екрана * 0,4)
    width:  calc(49vw * 0.5); //щирана (смята ширината на екрана * 0,5)
    z-index: 1;
   }
   .pic29{
    background-image: url('/assets/images/pic29.png');
    background-size: cover;
    background-position: center;
    position: relative;
    top: calc(530vw * -0.4);
    left: calc(156.5vw * 0.4);
    height:  calc(80vw * 0.4); // височина (смята ширината на екрана * 0,4)
    width:  calc(53.5vw * 0.5); //щирана (смята ширината на екрана * 0,5)
    z-index: 1;
   }

   .background4{
    background-image: url('/assets/images/backgroundForUs2.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; // Добавя паралакс ефект
    position: absolute;
    top: calc(355vw * 0.4);
    left: -1.9px;
    height:  calc(105vw * 0.4); // височина (смята ширината на екрана * 0,4)
    width:  calc(200vw * 0.5); //щирана (смята ширината на екрана * 0,5)
    //z-index: -1;
    }
    .textImage2{
        background-image: url('/assets/images/textImage2.png');
        background-size: cover;
        background-position: center;
        position: relative;
        top: calc(70.5vw * 0.4);
        left: calc(14.5vw * 0.4);
        height: calc(40.5vw * 0.4);
        width: calc(177.5vw * 0.5);
    }

    .line2{
        background-image: url('/assets/images/Home/Line.png');
        background-size: cover;
        background-position: center;
        position: relative;
        height:  calc(0.5vw * 0.4); // височина (смята ширината на екрана * 0,4)
        width:  calc(199.5vw * 0.5); //щирана (смята ширината на екрана * 0,5)
    }

    .img-buttomInqiyre{
        position: relative;
        top: calc(57.5vw * 0.5);
        left: calc(25vw * 0.5);;
        height:  calc(46.5vw * 0.4); // височина (смята ширината на екрана * 0,4)
        width:  calc(150vw * 0.5); //щирана (смята ширината на екрана * 0,5)
        z-index: 1;
    }
}