<p-dataView #dv [value]="articles" [rows]="5" [paginator]="true">
    <ng-template pTemplate="list" let-articles>
        <div *ngFor="let item of articles">
            <p-card [header]="item.title" >
                <ng-template pTemplate="header">
                    <img alt="Card" src="http://localhost:8080/K-Konsult/file/Get/images/{{item.title}}/{{item.title}}.png" />
                </ng-template>
                <p>
                    {{item.content}}
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Повече информация" [routerLink]="['/news/',  item.title ]" />
                    </div>
                </ng-template>
            </p-card>
        </div>
        
    </ng-template>
</p-dataView>