<!-- HTML for Phone Aplication-->
<div *ngIf="isMobile" class="phone"  >
    <div class="header1">
        <label class="text1"></label>        
        <img  class="img-buttomInqiyre" src="/assets/images/buttonInqiyre.png" routerLink="/Inquery">
    </div>
    <div class="line2"></div>
    <div class="image-slider">
        <img class="img-daria" src="/assets/DariaResidence/image_1.jpg" routerLink="/Daria">
        <img class="img-daria" src="/assets/DariaResidence/image_2.jpg" routerLink="/Daria">
        <img class="img-daria" src="/assets/DariaResidence/image_3.jpg" routerLink="/Daria">
        <img class="img-daria" src="/assets/DariaResidence/image_4.jpg" routerLink="/Daria">
        <img class="img-daria" src="/assets/DariaResidence/image_5.jpg" routerLink="/Daria">
    </div>
        <div class="header2"> </div>
    <div class="line2"></div>
</div>
<!-- HTML for Desktop Aplication

<div *ngIf="isDesktop" class="desktop"  >
    <div class="header1">
        <label class="text1">Ние сме ключът за мечтания дом!</label>        
        <img  class="img-buttomInqiyre" src="/assets/images/buttonInqiyre.png" routerLink="/Inquery">
    </div>
    <div class="line2"></div>
        <p-galleria [value]="images"
        [circular]="true"
        [autoPlay]="true"  
        [showThumbnails]="false" 
        [transitionInterval]="2000"
        > 
            <ng-template pTemplate="item" let-item> 
                    <img 
                        [src]="item.previewImageSrc"  
                        style="width: calc(200vw * 0.5); height: auto;" 
                    /> 
    
            </ng-template>     
        </p-galleria> 
    <div class="header2"> </div>
    <div class="line2"></div>
</div>
-->


<div *ngIf="isDesktop" class="desktop"  >
    <div class="header1">
        <label class="text1"></label>        
        <img  class="img-buttomInqiyre" src="/assets/images/buttonInqiyre.png" routerLink="/Inquery">
    </div>
    <div class="line2"></div>
    <div class="image-slider">
        <img class="img-daria" src="/assets/DariaResidence/image_1.jpg" routerLink="/Daria">
        <img class="img-daria" src="/assets/DariaResidence/image_2.jpg" routerLink="/Daria">
        <img class="img-daria" src="/assets/DariaResidence/image_3.jpg" routerLink="/Daria">
        <img class="img-daria" src="/assets/DariaResidence/image_4.jpg" routerLink="/Daria">
        <img class="img-daria" src="/assets/DariaResidence/image_5.jpg" routerLink="/Daria">
    </div>
    <div class="header2"> </div>
    <div class="line2"></div>
</div>