<div *ngIf="isDesktop" class="desktop"  >
    <div class="header1">
        <label class="text1">Ние сме ключът за мечтания дом!</label>        
        <div class="grey-area1">
            <label class="text2">
                К – КОНСУЛТ е едно от най-сигурните имена, когато става въпрос за недвижими имоти. 
                Това, с което се занимаваме вече 10 години е да преведем безпроблемно нашите клиенти по пътя към мечтания дом. 
                В лицето на К – КОНСУЛТ откривате приятел, който ще ви съдейства от първия разговор до нотариалното изповядване!
            </label>
        </div>
    </div>
    <div class="header2" >
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="grey-area2">
            <label class="text3">
                Ние от К – КОНСУЛТ защитаваме вашите интереси по пътя на закупуване и/или продажба на жилище, 
                водим преговори, изготвяме и предоставяме необходимите документи за 
                нотариално изповядване и се справяме с индивидуални имотни казуси .
            </label>
        </div>
    </div>
    <div class="line1"></div>
    <div class="imot-image1">
        <div class="grey-area3">
            <label class="text4">
                К – КОНСУЛТ предлага пазарни анализи и ценообразуване .
            </label>
        </div>
    </div>
    <div class="imot-image2">
        <div class="grey-area4">
            <label class="text5">
                К – КОНСУЛТ предлага безплатна реклама и маркетинг на вашия имот
            </label>
        </div>
    </div>
    <div class="line2"></div>
    <div class="header3">
        <img class="group30"  src="/assets/images/Home/Group30.png">
        <img class="group31"  src="/assets/images/Home/Group31.png">
        <img class="group32"  src="/assets/images/Home/Group32.png">
        <img class="group43"  src="/assets/images/Home/Group43.png">
        <img class="group42"  src="/assets/images/Home/Group42.png">
        <img class="group29"  src="/assets/images/Home/Group29.png">
        <img  class="img-buttomInqiyre" src="/assets/images/buttonInqiyre.png" routerLink="/Inquery">

    </div>
</div>
<div *ngIf="isMobile" class="phone"  >
    <div class="header1">
        <label class="text1">Ние сме ключът за мечтания дом!</label>
        <div class="grey-area1">
            <label class="text2">
                К – КОНСУЛТ е едно от най-сигурните имена, когато става въпрос за недвижими имоти. 
                Това, с което се занимаваме вече 10 години е да преведем безпроблемно нашите клиенти по пътя към мечтания дом. 
                В лицето на К – КОНСУЛТ откривате приятел, който ще ви съдейства от първия разговор до нотариалното изповядване!
            </label>
        </div>
    </div>
    <div class="header2">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="grey-area2">
            <label class="text3">
                Ние от К – КОНСУЛТ защитаваме вашите интереси по пътя на закупуване и/или продажба на жилище, 
                водим преговори, изготвяме и предоставяме необходимите документи за 
                нотариално изповядване и се справяме с индивидуални имотни казуси .
            </label>
        </div>
    </div>
    <div class="line1"></div>
    <div class="imot-image1">
        <div class="grey-area3">
            <label class="text4">
                К – КОНСУЛТ предлага пазарни анализи и ценообразуване .
            </label>
        </div>
    </div>
    <div class="imot-image2">
        <div class="grey-area4">
            <label class="text5">
                К – КОНСУЛТ предлага безплатна реклама и маркетинг на вашия имот
            </label>
        </div>
    </div>
    <div class="line2"></div>
    <div class="header3">
        <img class="group30"  src="/assets/images/Home/Group30.png">
        <img class="group31"  src="/assets/images/Home/Group31.png">
        <img class="group32"  src="/assets/images/Home/Group32.png">
        <img class="group43"  src="/assets/images/Home/Group43.png">
        <img class="group42"  src="/assets/images/Home/Group42.png">
        <img class="group29"  src="/assets/images/Home/Group29.png">
        <img  class="img-buttomInqiyre" src="/assets/images/buttonInqiyre.png" routerLink="/Inquery">
    </div>
</div>